{% extends "base.html" %}

{% block title %}
    project
{% endblock title %}


{% block content %}
    <h2>{{message}}</h2> 
    <hr>
    <h2>Project starts here!</h2>

    <table>
        <tr>
            <!-- <th>ID</th> -->
            <th>project</th>
            <th>positive Votes</th>
            <th>Votes</th>
            <th>Created_Date</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for project in projects %}
        <tr>
             <!--<td>{{project.id}}</td> -->
            <td>{{project.title}}</td>
            <td>{{project.vote_ratio}}%</td>
            <td>{{project.vote_total}}</td>
            <td>{{project.created}}</td>
            <td><a href="{% url 'update' project.id %}">Edit</a></td>
            <td><a href="{% url 'delete' project.id %}">Delete</a></td>
            <td><a href="{% url 'project' project.id %}">view</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}